name: Two-Tier Flask App CI/CD

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Verify Docker & Compose
        run: |
          docker --version
          docker compose version

      - name: Build Flask Docker image
        run: docker build -t flask-app:latest .

      - name: Run application with Docker Compose
        run: |
          docker compose down || true
          docker compose up -d --build

      - name: Check running containers
        run: docker ps
